.a1 {
    font-size: 20px;
    color: aliceblue !important;
    float: left;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
}
.a1:visited {
    text-decoration: none;
}
.a1 :hover {
    font-size: 30px;
    text-decoration: underline;
}

.a1:active {
    text-decoration: underline;
}

.a2 {
    color: aliceblue !important;
    font-size: 30px;
    float: right;
    margin-right: 25px;
    cursor: pointer;
}
.a3 {
    color: aliceblue !important;
    font-size: 30px;
    float: right;
    margin-right: 25px;
    cursor: pointer;
}
